global
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend mixed
    bind *:8010
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    tcp-request content accept if { req.payload(0,3) -m str "GET" }
    tcp-request content accept if { req.payload(0,4) -m str "POST" }
    tcp-request content accept if { req.payload(0,4) -m str "HEAD" }
    tcp-request content accept if { req.payload(0,3) -m str "PUT" }
    tcp-request content accept if { req.payload(0,6) -m str "DELETE" }
    tcp-request content accept if { req.payload(0,7) -m str "OPTIONS" }
    tcp-request content accept if { req.payload(0,5) -m str "PATCH" }
    use_backend https if { req.ssl_hello_type 1 }
    default_backend http

backend https
    server caddy proxy:8443

backend http
    server caddy proxy:8081
